<form [formGroup]="formGroup" (submit)="onFormSubmit()">
  <div class="container">
    <app-page-header backUrl="../">
      @if (isNew()) {
        <span class="page-title">New Connection Profile</span>
      } @else {
        <span class="page-title">{{ profile().baseUrl }}</span>
      }

      @if (!isNew()) {
        <button type="button" class="btn btn-outline-danger"
                (click)="onDeleteCharacter()">Delete
        </button>
      }
      @if (!isNew() && formGroup.dirty) {
        <button type="button" class="btn btn-outline-secondary"
                (click)="onRevertChanges()">Revert changes
        </button>
      }
      <button class="btn btn-primary btn-magical"
              [disabled]="formGroup.invalid || formGroup.pristine">Save Changes
      </button>
    </app-page-header>

    <div class="grid">
      <div class="g-col-12 g-col-lg-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
              <h5 class="card-title mb-0">Connection Details</h5>
              <app-dropdown>
                <span class="bi bi-braces-asterisk"></span>
                <li><h6 class="dropdown-header">Copy from a template:</h6></li>
                @for (template of templates(); track template.baseUrl) {
                  <li>
                    <button type="button" class="dropdown-item"
                    (click)="onCopyFromTemplate(template)">{{ template.name }}</button>
                  </li>
                }
              </app-dropdown>
            </div>

            <div class="mb-3">
              <select class="form-select"
                      formControlName="providerType"
                      aria-describedby="providerTypeInputHelp">
                <option value="OPEN_AI">Open AI (ChatGPT/Compatible)</option>
              </select>
              <div id="providerTypeInputHelp" class="form-text">Select your provider.</div>
            </div>

            <div class="mb-3">
              <label for="nameInput">Name</label>
              <input type="text" class="form-control"
                     id="nameInput"
                     aria-describedby="nameInputHelp"
                     formControlName="name"/>
              <div id="nameInputHelp" class="form-text">
                This is for display only, so you know what's what.
              </div>
            </div>

            <div class="mb-3">
              <label for="baseUrlInput">Base Url</label>
              <input type="text" class="form-control"
                     id="baseUrlInput"
                     aria-describedby="baseUrlInputHelp"
                     formControlName="baseUrl"/>
              <div id="baseUrlInputHelp" class="form-text">
                The API base url for this connection.
              </div>
            </div>

            <div class="mb-3">
              <label for="apiKeyInput">API key</label>
              <input type="text" class="form-control"
                     id="apiKeyInput"
                     aria-describedby="apiKeyInputHelp"
                     formControlName="apiKey"/>
              <div id="apiKeyInputHelp" class="form-text">
                Your API key. Check the AI vendor's console.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
