<form [formGroup]="formGroup" (submit)="onFormSubmit()">
  <div class="container mt-3">
    <app-page-header>
      <span class="page-title">Settings</span>
      @if (formGroup.dirty) {
        <button type="button" class="btn btn-outline-secondary"
                (click)="onRevertChanges()">Revert changes
        </button>
      }
      <button class="btn btn-primary btn-magical"
              [disabled]="formGroup.invalid || this.uiSettingsFormGroup.invalid || (this.formGroup.pristine && this.uiSettingsFormGroup.pristine)">
        Save Changes
      </button>
    </app-page-header>

    <div class="grid">
      <div class="g-col-12 g-col-lg-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Chat Settings</h5>

            <div class="mb-3">
              <label for="chatModelIdInput">Chat Model</label>
              <select class="form-select"
                      formControlName="chatModelId"
                      id="chatModelIdInput"
                      aria-describedby="chatModelIdInputHelp">
                @for (llm of chatModels(); track llm.id) {
                  <option [ngValue]="llm.id">{{ llm | llmLabel }}</option>
                }
              </select>
              <div id="chatModelIdInputHelp" class="form-text">
                Select the model you want to use for the chat.
              </div>
            </div>

            <div class="mb-3">
              <label for="chatInstructionIdInput">Chat Instructions</label>
              <select class="form-select"
                      id="chatInstructionIdInput"
                      formControlName="chatInstructionId"
                      aria-describedby="chatInstructionIdInputHelp">
                @for (template of chatInstructionTemplates(); track template.id) {
                  <option [ngValue]="template.id">{{ template.name }}</option>
                }
              </select>
              <div id="chatInstructionIdInputHelp" class="form-text">
                Select the instruction you want to use for generating chat responses.
              </div>
            </div>

            <div>
              <label for="maxMessagesInContextInput">Max Messages in Context</label>
              <input type="number" class="form-control"
                     step="1"
                     id="maxMessagesInContextInput"
                     aria-describedby="maxMessagesInContextInputHelp"
                     formControlName="maxMessagesInContext"/>
              <div id="maxMessagesInContextInputHelp" class="form-text">
                The max message count included in the chat history, sent to chat completion.
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3" [formGroup]="this.uiSettingsFormGroup">
          <div class="card-body">
            <h5 class="card-title">UI Settings</h5>

            <div class="mb-3">
              <label for="maxMessagesInChatViewInput">Max Messages in View</label>
              <input type="number" class="form-control"
                     step="1"
                     id="maxMessagesInChatViewInput"
                     aria-describedby="maxMessagesInChatViewInputHelp"
                     formControlName="maxMessagesInChatView"/>
              <div id="maxMessagesInChatViewInputHelp" class="form-text">
                After how many attempts should the UI stop reconnecting to the backend.
              </div>
            </div>

            <button type="button" class="btn btn-sm"
                    [class.btn-outline-secondary]="!uiSettingsAdvancedOpened()"
                    [class.btn-secondary]="uiSettingsAdvancedOpened()"
                    (click)="uiSettingsAdvancedOpened.toggle()">Advanced
            </button>
            @if (uiSettingsAdvancedOpened()) {
              <div>
                <div class="form-text text-muted">
                  You probably don't need to ever touch the values below, unless you have the Chat Quest backend running
                  on
                  a home server or similar.
                </div>
                <div class="mb-3">
                  <label for="apiBaseUrlInput">Api Base URL</label>
                  <input type="text" class="form-control"
                         id="apiBaseUrlInput"
                         formControlName="apiBaseUrl"/>
                </div>

                <div class="mb-3">
                  <label for="sseMaxReconnectAttemptsInput">Max reconnect attempts</label>
                  <input type="number" class="form-control"
                         step="1"
                         id="sseMaxReconnectAttemptsInput"
                         aria-describedby="sseMaxReconnectAttemptsInputHelp"
                         formControlName="sseMaxReconnectAttempts"/>
                  <div id="sseMaxReconnectAttemptsInputHelp" class="form-text">
                    After how many attempts should the UI stop reconnecting to the backend.
                  </div>
                </div>

                <div>
                  <label for="sseMinReconnectDelayMillisInput">Min Reconnect delay</label>
                  <input type="number" class="form-control"
                         step="1"
                         id="sseMinReconnectDelayMillisInput"
                         aria-describedby="sseMinReconnectDelayMillisInputHelp"
                         formControlName="sseMinReconnectDelayMillis"/>
                  <div id="sseMinReconnectDelayMillisInputHelp" class="form-text">
                    The UI uses an exponential back-off strategy for reconnecting to the backend. This value dictates
                    the
                    initial delay, in milliseconds, before a reconnect is issued.
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>

      <div class="g-col-12 g-col-lg-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Title Generation Settings</h5>

            <div class="mb-3">
              <label for="chatModelIdInput">Title Generation Model</label>
              <select class="form-select"
                      formControlName="titleGenerationModelId"
                      id="titleGenerationModelIdInput"
                      aria-describedby="titleGenerationModelIdInputHelp">
                @for (llm of chatModels(); track llm.id) {
                  <option [ngValue]="llm.id">{{ llm | llmLabel }}</option>
                }
              </select>
              <div id="titleGenerationModelIdInputHelp" class="form-text">
                Select the model you want to use for title generation.
              </div>
            </div>

            <div class="mb-3">
              <label for="titleGenerationInstructionIdInput">Title Generation Instructions</label>
              <select class="form-select"
                      id="titleGenerationInstructionIdInput"
                      formControlName="titleGenerationInstructionId"
                      aria-describedby="titleGenerationInstructionIdInputHelp">
                @for (template of titleGenerationInstructionTemplates(); track template.id) {
                  <option [ngValue]="template.id">{{ template.name }}</option>
                }
              </select>
              <div id="titleGenerationInstructionIdInputHelp" class="form-text">
                Select the instruction you want to use for generating titles.
              </div>
            </div>

            <div>
              <label for="titleGenerationMessageWindowInput">Message Window</label>
              <input type="number" class="form-control"
                     step="1"
                     id="titleGenerationMessageWindowInput"
                     aria-describedby="titleGenerationMessageWindowInputHelp"
                     formControlName="titleGenerationMessageWindow"/>
              <div id="titleGenerationMessageWindowInputHelp" class="form-text">
                The amount of messages scanned for the title, counting backwards from most recent.
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Title Generation Settings</h5>

            <p class="text-muted">Soon.</p>
          </div>
        </div>
      </div>

      <div class="g-col-12 g-col-lg-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Memory Generation</h5>

            <div class="mb-3">
              <label for="memoriesModelIdInput">Memory Model</label>
              <select class="form-select"
                      formControlName="memoriesModelId"
                      id="memoriesModelIdInput"
                      aria-describedby="memoriesModelIdInputHelp">
                @for (llm of chatModels(); track llm.id) {
                  <option [ngValue]="llm.id">{{ llm | llmLabel }}</option>
                }
              </select>
              <div id="memoriesModelIdInputHelp" class="form-text">
                Select the model you want to use for memory generation.
              </div>
            </div>

            <div class="mb-3">
              <label for="memoriesInstructionIdInput">Memory Instructions</label>
              <select class="form-select"
                      id="memoriesInstructionIdInput"
                      formControlName="memoriesInstructionId"
                      aria-describedby="memoriesInstructionIdInputHelp">
                @for (template of memoryInstructionTemplates(); track template.id) {
                  <option [ngValue]="template.id">{{ template.name }}</option>
                }
              </select>
              <div id="memoriesInstructionIdInputHelp" class="form-text">
                Select the instruction you want to use for generating memories.
              </div>
            </div>
            <div class="mb-3">
              <label for="memoryTriggerAfterInput">Trigger after</label>
              <input type="number" class="form-control"
                     step="1"
                     id="memoryTriggerAfterInput"
                     aria-describedby="memoryTriggerAfterInputHelp"
                     formControlName="memoryTriggerAfter"/>
              <div id="memoryTriggerAfterInputHelp" class="form-text">
                After how many messages should memory generation start collecting messages.
              </div>
            </div>
            <div>
              <label for="memoryWindowSizeInput">Generation Window Size</label>
              <input type="number" class="form-control"
                     step="1"
                     id="memoryWindowSizeInput"
                     aria-describedby="memoryWindowSizeInputHelp"
                     formControlName="memoryWindowSize"/>
              <div id="memoryWindowSizeInputHelp" class="form-text">
                How many messages should be saved up before generating memories.
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Memory Selection</h5>

            <div class="mb-3">
              <label for="embeddingModelIdInput">Embedding Model</label>
              <select class="form-select"
                      formControlName="embeddingModelId"
                      id="embeddingModelIdInput"
                      aria-describedby="embeddingModelIdInputHelp">
                @for (llm of embeddingModels(); track llm.id) {
                  <option [ngValue]="llm.id">{{ llm | llmLabel }}</option>
                }
              </select>
              <div id="embeddingModelIdInputHelp" class="form-text">
                Select the embedding model you want to use for memories.
              </div>
            </div>

            <div class="mb-3">
              <label for="memoryIncludeChatSizeInput">Chat Window Size</label>
              <input type="number" class="form-control"
                     step="1"
                     id="memoryIncludeChatSizeInput"
                     aria-describedby="memoryIncludeChatSizeInputHelp"
                     formControlName="memoryIncludeChatSize"/>
              <div id="memoryIncludeChatSizeInputHelp" class="form-text">
                How many chat messages should be included in memory selection, starting from most recent up.
              </div>
            </div>

            <div class="form-check mb-3">
              <input class="form-check-input" type="checkbox"
                     id="memoryIncludeChatNotesInput"
                     formControlName="memoryIncludeChatNotes"/>
              <label class="form-check-label"
                     for="memoryIncludeChatNotesInput"
                     aria-describedby="memoryIncludeChatNotesInputHelp">
                Include chat notes
              </label>
              <div class="form-text" id="memoryIncludeChatNotesInputHelp">
                Should the chat notes influence memory selection?
              </div>
            </div>

            <div>
              <label for="memoryMinPInput">Min P</label>
              <input type="number" class="form-control"
                     step="0.01"
                     id="memoryMinPInput"
                     aria-describedby="memoryMinPInputHelp"
                     formControlName="memoryMinP"/>
              <div id="memoryMinPInputHelp" class="form-text">
                Minimum base probability for a memory to be selected for inclusion in RAG data.
                <span class="bi bi-question-circle" title="
Memories are selected by the cosine similarity of the embedding vectors, encoding the memory's semantic meaning.
The cosine may range from -1 to 1, where -1 is exact opposite meaning and 1 is exactly the same text."></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="g-col-12 g-col-lg-6">
        <connection-profiles-overview/>
      </div>
      <div class="g-col-12 g-col-lg-6">
        <instruction-overview/>
      </div>
    </div>
  </div>
</form>
