<div class="avatar-image-wrapper">
  @if (currentValue(); as url) {
    <img [src]="url"
         class="img-thumbnail avatar-image"
         alt="Character avatar"/>
  } @else {
    <img src="/tree.png"
         class="img-thumbnail avatar-image placeholder"
         alt="Character avatar"/>
  }
  <div class="avatar-image-overlay"
       (click)="fileInput.click()"
       title="Set/Change avatar image">
    <span class="bi bi-camera"></span>
    @if (isSet()) {
      <button type="button" class="btn-close btn-close-white"
              (click)="onClear($event)"
              title="Remove avatar image"></button>
    }
  </div>
</div>
<input type="file" class="avatar-file-input" #fileInput
       accept="image/*" (change)="onFileSelected($event)"/>

@if (selectedFileForCrop(); as blob) {
  <app-avatar-image-crop
    [imageBlob]="blob"
    (onCropComplete)="onCropResult($event)"
    (onCropCanceled)="onCropCanceled()"
  ></app-avatar-image-crop>
}
