<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <h5 class="mb-0">
        <ng-content select="span.title">Memories</ng-content>
        <span class="text-muted small ms-2">({{ memories().length }})</span>
      </h5>

      @if (!disabled()) {
        <div class="btn-toolbar justify-content-end gap-1">
          @if (addMemoryActive()) {
            <button type="button" class="btn btn-sm btn-outline-danger"
                    (click)="addMemoryActive.setFalse()">Cancel
            </button>
          } @else {
            <button type="button" class="btn btn-sm btn-primary"
                    (click)="addMemoryActive.setTrue()">Add Memory
            </button>
          }
        </div>
      }
    </div>

    @if (addMemoryActive()) {
      <memory-list-item
        class="d-block mb-3"
        [memory]="newMemoryTpl()"
        [characterId]="characterId()"
        (memoryChanged)="onSaveMemory($event)"
        (deleteRequested)="addMemoryActive.setFalse()"/>
      <hr/>
    }

    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control"
             placeholder="Search contents"
             [formControl]="searchControl"/>
      <button type="button" class="btn btn-secondary" (click)="onToggleSearchType()">
        @switch (searchType()) {
          @case ("CHARACTER") {
            <span class="bi bi-person"></span>
          }
          @case ("CONTENT") {
            <span class="bi bi-text-paragraph"></span>
          }
        }
      </button>
    </div>

    <div class="btn-toolbar justify-content-between align-items-center my-2">
      <button type="button" class="btn btn-sm btn-secondary"
              [disabled]="currentOffset() == 0"
              (click)="onPreviousPage()">Previous
      </button>
      <div class="small">Page {{ currentOffset() + 1 }} of {{ offsetCount() + 1 }}</div>
      <button type="button" class="btn btn-sm btn-secondary"
              [disabled]="currentOffset() >= offsetCount()"
              (click)="onNextPage()">Next
      </button>
    </div>

    <div class="memory-list d-flex flex-column">
      @for (m of paginated(); track m.id) {
        <memory-list-item
          [memory]="m"
          [characterId]="characterId()"
          (memoryChanged)="onSaveMemory($event)"
          (deleteRequested)="onDeleteMemory(m.id)"
          [disabled]="disabled()"/>
        @if (!$last) {
          <hr/>
        }
      }
    </div>
  </div>
</div>
