<div class="card">
  <div class="card-body">
    <div class="d-flex align-items-center justify-content-between mb-2">
      <h5 class="mb-0">
        <ng-content select="span.title">Memories</ng-content>
        <span class="text-muted small ms-2">({{ memories().length }})</span>
      </h5>

      @if (!disabled()) {
        <div class="btn-toolbar justify-content-end gap-1">
          <button type="button" class="collapse-btn btn btn-sm btn-secondary"
                  title="Show/hide counts"
                  (click)="showCounts.toggle()">
            @if (showCounts()) {
              <span class="bi bi-person-slash"></span>
            } @else {
              <span class="bi bi-person"></span>
            }
          </button>
          <button type="button" class="collapse-btn btn btn-sm btn-secondary"
                  title="Expand/Collapse memories"
                  (click)="isCollapsed.toggle()">
            @if (isCollapsed()) {
              <span class="bi bi-chevron-double-down"></span>
            } @else {
              <span class="bi bi-chevron-double-up"></span>
            }
          </button>
          <button type="button" class="btn btn-sm btn-primary"
                  (click)="onAddMemory()">Add Memory
          </button>
        </div>
      }
    </div>

    @if (showCounts()) {
      <table class="table table-sm table-striped table-borderless small">
        <thead>
        <tr>
          <th></th>
          <th>Total</th>
          <th title="Static/Always Included memories will be included to the world data regardless of content.">
            <span>Static</span><span class="bi bi-question-circle ms-2"></span>
          </th>
        </tr>
        </thead>
        <tbody>
          @for (cnt of counts(); track cnt.characterName) {
            <tr>
              <th>{{ cnt.characterName }}</th>
              <td>{{ cnt.total }}</td>
              <td>{{ cnt.always }}</td>
            </tr>
          }
        </tbody>
      </table>
    }

    <div class="memory-list d-flex flex-column" [class.collapsed]="isCollapsed()">
      @for (m of newMemories(); track m.id) {
        <memory-list-item
          [memory]="m"
          [characterId]="characterId()"
          (memoryChanged)="onSaveMemory($event, $index)"
          (deleteRequested)="onDeleteNewMemory($index)"/>
        <hr/>
      }
      @for (m of memories(); track m.id) {
        <memory-list-item
          [memory]="m"
          [characterId]="characterId()"
          (memoryChanged)="onSaveMemory($event, null)"
          (deleteRequested)="onDeleteMemory(m.id)"
          [disabled]="disabled()"/>
        @if (!$last) {
          <hr/>
        }
      }
    </div>
  </div>
</div>
