<div class="card" [formGroup]="parentForm()">
  <div class="card-body">
    <h5 class="card-title">Extended details</h5>

    <div class="grid">
      <div class="g-col-12 g-col-xl-6">
        <div class="mb-3">
          <label for="characterHistoryInput">History</label>
          <textarea type="text" class="form-control"
                    id="characterHistoryInput"
                    rows="7"
                    aria-describedby="characterHistoryInputHelp"
                    formControlName="history"></textarea>
          <div id="characterHistoryInputHelp" class="form-text">
            Optionally describe your character's history, Where do they come from, how did they get here. Leave empty
            to skip.
          </div>
        </div>

        <div class="mb-3" formArrayName="dialogueExamples">
          <label>Chat examples</label>
          <div class="form-text mb-2">
            You can define examples of dialog and speech, such that the AI can personalize your character more.
          </div>

          @if (dialogueExamplesFA().controls.length == 0) {
            <div class="form-text mb-3 text-warning">No dialog examples defined.</div>
          } @else {
            <div class="form-text mb-2">
              Use <code>&#123;char&#125;</code> to represent your character and <code>&#123;user&#125;</code> to
              represent the chatter/you.
            </div>
          }

          @for (c of dialogueExamplesFA().controls; track c) {
            <div class="input-group mb-2">
              <textarea class="form-control form-control-sm"
                        [formControlName]="$index" rows="3"
                        [placeholder]="dialogExample"></textarea>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="onRemoveDialogExample($index)">
                <span class="bi bi-trash"></span>
              </button>
            </div>
          }

          <div class="btn-toolbar justify-content-end mt-1">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onAddDialogExample()">
              <span class="bi bi-plus-lg"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="g-col-12 g-col-xl-6">
        <div class="mb-3" formArrayName="likelyActions">
          <label>Likely actions</label>
          <div class="form-text mb-2">
            Likely actions are things your character is likely to do.
          </div>

          @if (likelyActionsFA().controls.length == 0) {
            <div class="form-text mb-3 text-warning">No likely actions defined.</div>
          } @else {
            <div class="form-text mb-3">
              Define a single "action" per line, e.g. <code>grunts a lot</code> or <code>gets distracted</code>.
            </div>
          }

          @for (c of likelyActionsFA().controls; track c) {
            <div class="input-group mb-2">
              <input type="text" class="form-control form-control-sm" [formControlName]="$index"/>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="onRemoveLikelyAction($index)">
                <span class="bi bi-trash"></span>
              </button>
            </div>
          }

          <div class="btn-toolbar justify-content-end mt-1">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onAddLikelyAction()">
              <span class="bi bi-plus-lg"></span>
            </button>
          </div>
        </div>

        <div class="mb-3" formArrayName="unlikelyActions">
          <label>Unlikely actions</label>
          <div class="form-text mb-2">
            The opposite of Likely actions, Unlikely actions are things your character is not at all likely to do.
          </div>

          @if (unlikelyActionsFA().controls.length == 0) {
            <div class="form-text mb-3 text-warning">No unlikely actions defined.</div>
          } @else {
            <div class="form-text mb-3">
              Define a single "action" per line, e.g. <code>blinking with their eyes</code> or <code>be useful</code>.
            </div>
          }

          @for (c of unlikelyActionsFA().controls; track c) {
            <div class="input-group mb-2">
              <input type="text" class="form-control form-control-sm" [formControlName]="$index"/>
              <button type="button" class="btn btn-outline-danger btn-sm" (click)="onRemoveUnlikelyAction($index)">
                <span class="bi bi-trash"></span>
              </button>
            </div>
          }

          <div class="btn-toolbar justify-content-end mt-1">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="onAddUnlikelyAction()">
              <span class="bi bi-plus-lg"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
