<form [formGroup]="formGroup" (submit)="onFormSubmit()">
  <div class="container">
    <app-page-header backUrl="../">
      @if (isNew()) {
        <span class="page-title">New World</span>
      } @else {
        <span class="page-title">{{ name() }}</span>
      }

      @if (!isNew()) {
        <button type="button" class="btn btn-outline-danger"
                (click)="onDeleteWorld()">Delete World
        </button>
      }
      @if (!isNew() && formGroup.dirty) {
        <button type="button" class="btn btn-outline-secondary"
                (click)="onResetForm()">Revert changes
        </button>
      }
      <button class="btn btn-primary btn-magical"
              [disabled]="formGroup.invalid || formGroup.pristine">Save Changes
      </button>
    </app-page-header>

    <div class="grid">
      @if (!isNew()) {
        <div class="g-col-12 g-col-md-6 g-col-lg-8">
          <ul class="nav nav-underline mb-3">
            @for (item of subMenuItems; track item.route) {
              <li class="nav-item">
                <a class="nav-link"
                   [routerLink]="item.route"
                   routerLinkActive="active"
                   queryParamsHandling="preserve"
                   replaceUrl
                   [relativeTo]="activatedRoute">{{ item.label }}</a>
              </li>
            }
          </ul>

          <router-outlet></router-outlet>
        </div>
      }

      <div class="g-col-12 g-col-md-6 g-col-lg-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Base information</h5>

            <div class="grid mb-3">
              <div class="g-col-4">
                <app-avatar-control formControlName="avatarUrl"></app-avatar-control>
              </div>
              <div class="g-col-8">
                <div class="mb-3">
                  <label for="worldNameInput">Name</label>
                  <input type="text" class="form-control"
                         id="worldNameInput"
                         aria-describedby="worldNameInputHelp"
                         formControlName="name"/>
                  <div id="worldNameInputHelp" class="form-text">A unique name for your world.</div>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="worldDescriptionInput">Description</label>
              <textarea type="text" class="form-control"
                        rows="10"
                        id="worldDescriptionInput"
                        aria-describedby="worldDescriptionInputHelp"
                        formControlName="description"></textarea>
              <div>
                <div id="worldDescriptionInputHelp" class="form-text d-inline">Describe your world.</div>
                <app-token-count class="float-end" [text]="descriptionValue()"/>
              </div>
            </div>

            <div>
              <label for="personaIdInput">Persona</label>
              <select formControlName="personaId"
                      class="form-select"
                      id="personaIdInput">
                <option [ngValue]="null">No persona</option>
                <option disabled>──────────</option>
                @for (c of allCharacters(); track c.id) {
                  <option [ngValue]="c.id">{{ c.name }}</option>
                }
              </select>
              <div class="form-text">You can set a character as a persona for yourself. This is added to the world data
                so the assistant knows who you are.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
