<div class="container">
  <app-page-header>
    <span class="page-title">Characters</span>
    <button class="btn btn-outline-primary" (click)="charaCardImportInput.click()">Import Character Card</button>
    <button class="btn btn-primary" routerLink="./new">Create Character</button>
  </app-page-header>
  <div class="tag-filter-list d-flex flex-wrap align-items-center mb-3">
    <div class="badge d-flex align-items-center me-2 mb-2"
         (click)="onToggleSelectedTag(null)"
         [class.bg-body-tertiary]="selectedTag()"
         [class.bg-primary]="!selectedTag()"
    >
      <span>All</span>
    </div>
    @for (tag of availableTags(); track tag.id) {
      @let isSelected = selectedTag()?.id == tag.id;
      <div class="badge d-flex align-items-center me-2 mb-2"
           (click)="onToggleSelectedTag(tag)"
           [class.bg-body-tertiary]="!isSelected"
           [class.bg-primary]="isSelected">
        <div>{{ tag.label }}</div>
      </div>
    }
  </div>
  <div class="grid">
    @for (char of filteredCharacters(); track char.id) {
      <div class="g-col-3">
        <app-character-card [character]="char">
          <a class="btn" [routerLink]="['/chat/with', char.id]">
            <span class="bi bi-chat-fill"></span>
          </a>
          <a class="btn" [routerLink]="['./', char.id]">
            <span class="bi bi-pencil"></span>
          </a>
        </app-character-card>
      </div>
    }
    <div class="g-col-3">
      <div class="card create-character-card" routerLink="./new">
        <div class="card-body d-flex flex-column align-items-center justify-content-center gap-1">
          <span class="bi bi-plus-lg add-character-plus-icon"></span>
          <span>Add Character</span>
        </div>
      </div>
    </div>
  </div>
</div>

<input type="file" class="d-none"
       [accept]="acceptCharaCardTypes"
       (change)="onCharaCardFileSelected($event)"
       #charaCardImportInput/>
