.item-card {
  $item-card-width: 16rem;
  $item-card-height: 20rem;

  display: block;

  .card {
    position: relative;
    width: $item-card-width;
    height: $item-card-height;
    transition: transform 300ms ease-in-out, box-shadow 300ms ease-out;
    background-size: cover;
    background-position: center center;
    background-image: url('/tree_defocus.png');

    &:hover {
      transform: scale(1.05);
      box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.75);
      z-index: 10000;
    }
  }

  .card-body {
    z-index: 1;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .card-header, .card-footer {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
  }

  .card-header {
    border-top-left-radius: var(--bs-card-border-radius);
    border-top-right-radius: var(--bs-card-border-radius);
  }

  &.item-card-active {
    .card {
      border-color: var(--bs-success) !important;
    }
  }
}
