// Opt-In settings
$enable-cssgrid: true;

// Override default variables
@import "./colors";

// Optional: Define custom theme colors
$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "danger": $danger,
  "warning": $warning,
  "info": $info,
  "light": $light,
  "dark": $dark
);

$body-bg-dark: $dark;
$body-color-dark: $light;
