:host {
  .avatar-vignette {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100vh;
    mask-image: linear-gradient(to right, #000 50%, transparent 100%);
    filter: blur(1px);
    transition: left 300ms ease-out;

    @media screen and (min-height: 600px) {
      left: -10%;
    }
    @media screen and (min-height: 850px) {
      left: -15%;
    }
  }

  ::ng-deep.card {
    background-color: color-mix(in srgb, var(--bs-card-bg) 85%, transparent);
    backdrop-filter: blur(5px);
  }
}
