<form [formGroup]="formGroup" (submit)="onSubmit()">
  <div class="container">
    <app-page-header backUrl="../">
      @if (isNew()) {
        <span class="page-title">New Character</span>
      } @else {
        <span class="page-title" [class.text-special]="favorite()">{{ name() }}</span>
      }

      @if (!isNew()) {
        <button type="button" class="btn btn-outline-danger"
                (click)="onDeleteCharacter()">Delete
        </button>
      }
      @if (!isNew()) {
        <button type="button" class="btn btn-outline-secondary"
                (click)="onDuplicateCharacter()">Duplicate
        </button>
      }
      @if (!isNew() && formGroup.dirty) {
        <button type="button" class="btn btn-outline-secondary"
                (click)="onResetForm()">Revert changes
        </button>
      }
      <button class="btn btn-primary btn-magical"
              [disabled]="formGroup.invalid || formGroup.pristine">Save Changes
      </button>
    </app-page-header>

    <div class="grid">
      <div class="g-col-12 g-col-lg-6 g-col-xl-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Base information</h5>

            <div class="grid mb-3" formGroupName="character">
              <div class="g-col-4">
                <app-avatar-control formControlName="avatarUrl"></app-avatar-control>
              </div>
              <div class="g-col-8">
                <div class="mb-1">
                  <label for="characterNameInput">Name</label>
                  <input type="text" class="form-control"
                         id="characterNameInput"
                         aria-describedby="characterNameInputHelp"
                         formControlName="name"/>
                  <div id="characterNameInputHelp" class="form-text">A unique name for your character.</div>
                </div>

                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="characterFavoriteInput"
                         formControlName="favorite"/>
                  <label class="form-check-label" for="characterFavoriteInput">
                    Favorite
                  </label>
                </div>
              </div>
              <div class="g-col-12">
                <label for="characterTalkativenessInput" class="form-label">Talkativeness</label>
                <div class="d-flex justify-content-between small text-muted">
                  <div>Fairly silent</div>
                  <div>Normal</div>
                  <div>Very Noisy</div>
                </div>
                <input type="range" class="form-range px-4"
                       formControlName="groupTalkativeness"
                       id="characterTalkativenessInput"
                       aria-describedby="characterTalkativenessInputHelp" min="0" max="1" step="0.1">
                <div class="form-text" id="characterTalkativenessInputHelp">
                  Talkativeness in group chats.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="g-col-12 g-col-lg-6 g-col-xl-8">
        <ul class="nav nav-underline mb-3">
          @for (item of subMenuItems; track item.route) {
            <li class="nav-item">
              <a class="nav-link"
                 [routerLink]="item.route"
                 routerLinkActive="active"
                 queryParamsHandling="preserve"
                 replaceUrl
                 [relativeTo]="activatedRoute">{{ item.label }}</a>
            </li>
          }
        </ul>

        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</form>
@if (avatar(); as u) {
  <img class="avatar-vignette" [src]="u" alt="Avatar"/>
}
