<div class="container">
  <app-page-header>
    <span class="page-title">Characters</span>
    <button class="btn btn-primary" routerLink="./new">Create Character</button>
  </app-page-header>

  <div class="tag-filter-list d-flex flex-wrap align-items-center mb-3">
    <div class="badge bg-body-tertiary me-2 mb-2"
         [class.active]="!selectedTag()"
         (click)="selectedTag.set(null)">All
    </div>
    @for (tag of allTags(); track tag.id) {
      <div class="badge bg-body-secondary me-2 mb-2"
           [class.active]="selectedTag()?.id === tag.id"
           (click)="selectedTag.set(tag)">
        <div>{{ tag.label }}</div>
      </div>
    }
  </div>

  <div class="grid">
    @for (char of filteredCharacters(); track char.id) {
      <div class="g-col-6 g-col-lg-3">
        <scalable class="mx-auto">
          <app-character-card [character]="char" [routerLink]="['.', char.id]" class="cursor-pointer">
            <button class="btn">
              <span class="bi bi-pencil"></span>
            </button>
          </app-character-card>
        </scalable>
      </div>
    }
    <div class="g-col-6 g-col-lg-3">
      <scalable class="mx-auto">
        <app-new-item-card routerLink="./new">
          <span>Add Character</span>
        </app-new-item-card>
      </scalable>
    </div>
  </div>
</div>
