<div class="container">
  <app-page-header>
    <span class="page-title">Characters</span>
    <button class="btn btn-primary" routerLink="./new">Create Character</button>
  </app-page-header>

  <div class="tag-filter-list d-flex flex-wrap align-items-center mb-3">
    <div class="badge bg-body-tertiary me-2 mb-2"
         [class.active]="!selectedTag()"
         (click)="selectedTag.set(null)">All
    </div>
    @for (tag of allTags(); track tag.id) {
      <div class="badge bg-body-secondary me-2 mb-2"
           [class.active]="selectedTag()?.id === tag.id"
           (click)="selectedTag.set(tag)">
        <div>{{ tag.label }}</div>
      </div>
    }
  </div>

  <div class="grid">
    @for (char of filteredCharacters(); track char.id) {
      <div class="g-col-6 g-col-lg-3">
        <scalable class="mx-auto">
          <app-character-card [character]="char" [routerLink]="['.', char.id]" class="cursor-pointer">
            <div dropdown class="action" (click)="$event.stopPropagation()">
              <ul class="mt-1" dropdownMenu>
                <li><h6 class="dropdown-header">New chat with {{ char.name }} in:</h6></li>
                @for (w of worlds(); track w.id) {
                  <li>
                    <a class="dropdown-item"
                       [routerLink]="['/chat', 'worlds', w.id, 'chat', 'new']"
                       [queryParams]="{with: char.id}">{{ w.name }}</a>
                  </li>
                }
              </ul>
              <button type="button" class="btn" dropdownToggle title="New Chat Session">
                <span class="bi bi-chat-fill"></span>
              </button>
            </div>

            <button class="btn">
              <span class="bi bi-pencil"></span>
            </button>
          </app-character-card>
        </scalable>
      </div>
    }
    <div class="g-col-6 g-col-lg-3">
      <scalable class="mx-auto">
        <app-new-item-card routerLink="./new">
          <span>Add Character</span>
        </app-new-item-card>
      </scalable>
    </div>
  </div>
</div>
