<form [formGroup]="formGroup" (submit)="onFormSubmit()">
  <div class="grid">
    <div class="g-col-12 g-col-xl-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">Greetings</h5>
            <button type="button" class="btn btn-sm" (click)="editGreetings.toggle()">
              @if (editGreetings()) {
                <span class="bi bi-x"></span>
              } @else {
                <span class="bi bi-pencil"></span>
              }
            </button>
          </div>

          <p class="form-text">
            Greetings are messages your character (randomly) posts when starting a new chat.
            It is recommended to have at least one greeting, else ChatQuest will come up with something.
          </p>

          @if (editGreetings()) {
            <div class="mb-3" formArrayName="greetings">
              @if (greetings() | empty) {
                <p class="form-text mb-0 text-warning">
                  No greetings defined.
                </p>
              }

              @for (c of greetingsFA.controls; track c) {
                <div class="input-group mb-2">
                        <textarea type="text" class="form-control form-control-sm" rows="3"
                                  [formControlName]="$index"></textarea>
                  <button type="button" class="btn btn-outline-danger btn-sm"
                          (click)="onRemoveControl(greetingsFA, $index)">
                    <span class="bi bi-trash"></span>
                  </button>
                </div>
              }

              <div class="btn-toolbar justify-content-end mt-1">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        (click)="onAddControl(greetingsFA)">
                  <span class="bi bi-plus-lg"></span>
                </button>
              </div>
            </div>
          } @else if (greetings() | empty) {
            <p class="form-text mb-0 text-warning">
              No greetings defined.
            </p>
          } @else {
            @for (greeting of greetings(); track greeting) {
              <div class="card character-text mb-2">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  {{ $index + 1 }}
                </span>
                <div class="card-body">
                  <app-rendered-message [message]="greeting" enableVariables></app-rendered-message>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>

    <div class="g-col-12 g-col-xl-6">
      <div class="card mb-3">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">Dialogue Examples</h5>
            <button type="button" class="btn btn-sm" (click)="editDialogueExamples.toggle()">
              @if (editDialogueExamples()) {
                <span class="bi bi-x"></span>
              } @else {
                <span class="bi bi-pencil"></span>
              }
            </button>
          </div>

          <p class="form-text">
            Dialogue examples are simple back-and-forth examples between the user and the character.
          </p>

          @if (editDialogueExamples()) {
            <div class="mb-3" formArrayName="dialogueExamples">
              @if (dialogueExamples() | empty) {
                <p class="form-text mb-0 text-warning">
                  No dialogue examples defined.
                </p>
              }

              @for (c of dialogueExamplesFA.controls; track c) {
                <div class="input-group mb-2">
                        <textarea type="text" class="form-control form-control-sm" rows="3"
                                  [formControlName]="$index"></textarea>
                  <button type="button" class="btn btn-outline-danger btn-sm"
                          (click)="onRemoveControl(dialogueExamplesFA, $index)">
                    <span class="bi bi-trash"></span>
                  </button>
                </div>
              }

              <div class="btn-toolbar justify-content-end mt-1">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        (click)="onAddControl(dialogueExamplesFA)">
                  <span class="bi bi-plus-lg"></span>
                </button>
              </div>
            </div>
          } @else if (dialogueExamples() | empty) {
            <p class="form-text mb-0 text-warning">
              No dialogue examples defined.
            </p>
          } @else {
            @for (example of dialogueExamples(); track example) {
              <div class="card character-text mb-2">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  {{ $index + 1 }}
                </span>
                <div class="card-body">
                  <app-rendered-message [message]="example" enableVariables></app-rendered-message>
                </div>
              </div>
            }
          }
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5 class="card-title mb-0">Group Greetings</h5>
            <button type="button" class="btn btn-sm" (click)="editGroupGreetings.toggle()">
              @if (editGroupGreetings()) {
                <span class="bi bi-x"></span>
              } @else {
                <span class="bi bi-pencil"></span>
              }
            </button>
          </div>

          <p class="form-text">
            Group greetings are used (randomly) instead of greetings, when the chat is started with multiple characters.
            If no group greetings are defined, the normal greetings are used, else ChatQuest will come up with
            something.
          </p>

          @if (editGroupGreetings()) {
            <div class="mb-3" formArrayName="groupGreetings">
              @if (groupGreetings() | empty) {
                <p class="form-text mb-0 text-warning">
                  No group greetings defined.
                </p>
              }

              @for (c of groupGreetingsFA.controls; track c) {
                <div class="input-group mb-2">
                        <textarea type="text" class="form-control form-control-sm" rows="3"
                                  [formControlName]="$index"></textarea>
                  <button type="button" class="btn btn-outline-danger btn-sm"
                          (click)="onRemoveControl(groupGreetingsFA, $index)">
                    <span class="bi bi-trash"></span>
                  </button>
                </div>
              }

              <div class="btn-toolbar justify-content-end mt-1">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        (click)="onAddControl(groupGreetingsFA)">
                  <span class="bi bi-plus-lg"></span>
                </button>
              </div>
            </div>
          } @else if (groupGreetings() | empty) {
            <p class="form-text mb-0 text-warning">
              No group greetings defined.
            </p>
          } @else {
            @for (greeting of groupGreetings(); track greeting) {
              <div class="card character-text mb-2">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-info">
                  {{ $index + 1 }}
                </span>
                <div class="card-body">
                  <app-rendered-message [message]="greeting" enableVariables></app-rendered-message>
                </div>
              </div>
            }
          }
        </div>
      </div>
    </div>
  </div>
</form>

