<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Connections &amp; Models</h5>
      <button class="btn btn-outline-primary"
              routerLink="connections/new">Add Connection Profile
      </button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @if (profiles() | empty) {
          <tr>
            <td colspan="2">No connection profiles defined.</td>
          </tr>
        }
        @for (profile of profiles(); track profile.id) {
          <tr class="cursor-pointer" [routerLink]="['connections', profile.id]">
            <td><span class="bi bi-ethernet"></span>&nbsp;{{ profile.name }}</td>
            <td class="text-muted">{{ profile.baseUrl }}</td>
            <td>
              <div class="btn-toolbar justify-content-end">
                <button class="btn btn-sm btn-primary">
                  <span class="bi bi-pencil"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      <tr></tr>
      </tbody>
    </table>
  </div>
</div>
