<div class="tag-list d-flex flex-wrap align-items-center">
  @if (currentTags().length === 0) {
    <span class="form-text text-muted mb-2">No tags assigned</span>
  }
  @for (tag of currentTags(); track tag.id) {
    <div class="badge d-flex align-items-center bg-body-tertiary me-2 mb-2">
      <div>{{ tag.label }}</div>
      <button
        type="button"
        class="btn-close btn-close-white ms-1"
        aria-label="Remove tag"
        (click)="removeTag(tag.id)"
      ></button>
      </div>
  }
</div>

<div class="input-group mb-3">
  <input
    type="text"
    class="form-control no-validation"
    [ngModel]="inputText()"
    (ngModelChange)="inputText.set($event)"
    (keydown)="onInputKeyDown($event)"
    placeholder="Add tags separated by commas..."
  >
  <button
    class="btn btn-outline-secondary"
    type="button"
    (click)="addTag()"
  >
    <span class="bi bi-plus-lg"></span>
  </button>
</div>
