{{- /*gotype: juraji.nl/chat-quest/processing.MemoryInstructionVars*/ -}}
(This is not part of the conversation. Please generate per character memories based on the previous messages as mandated specified by the system prompt.)
