{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
{{if .MessageText}}
{{.MessageText}}

(Respond ONLY as {{.Character.Name}})
{{else}}
(Respond ONLY as {{.Character.Name}} to the previous message)
{{end}}
