{{- /*gotype: juraji.nl/chat-quest/processing.MemoryInstructionVars*/ -}}
```rag.xml
{{if .Participants -}}
<Characters>
  {{range $c := .Participants -}}
  <Character>
    <Id>{{$c.ID}}</Id>
    <Name>{{$c.Name}}</Name>
  </Character>
  {{end -}}
</Characters>
{{end -}}
{{if .Persona -}}
<UserPersona>
  <!-- This information describes the user, it is not a character in the chat -->
  <Id>{{.Persona.ID}}</Id>
  <Name>{{.Persona.CharacterName}}</Name>
</UserPersona>
{{end -}}
```

(Do not recite the information in the rag.xml block, use it to enrich your understanding of the world and the individual character(s))
