{{- /*gotype: juraji.nl/chat-quest/processing/chat_response.instructionTemplateVars */ -}}
```rag.xml
{{if .WorldDescription}}
<WorldDescription>
  {{.WorldDescription}}
</WorldDescription>
{{end}}
{{if .ScenarioDescription}}
<Scenario>
  {{.ScenarioDescription}}
</Scenario>
{{end}}
<Characters>
  <Character>
    <Name>{{.Character.Name}}</Name>
    {{if .Character.Appearance}}
    <Appearance>
      {{.Character.Appearance}}
    </Appearance>
    {{end}}
    {{if .Character.Personality}}
    <Personality>
      {{.Character.Personality}}
    </Personality>
    {{end}}
    {{if .Character.History}}
    <History>
      {{.Character.History}}
    </History>
    {{end}}
    {{if .DialogueExamples}}
    <DialogExamples>
      {{range $ex := .DialogueExamples}}
        <DialogExample>{{$ex}}<DialogExample>
      {{end}}
    </DialogExamples>
    {{end}}
  </Character>
  {{if .OtherParticipants}}
    {{range $c := .OtherParticipants}}
      <Character>
        <Name>{{$c.Name}}</Name>
        {{if $c.Appearance}}
        <Appearance>
          {{$c.Appearance}}
        </Appearance>
        {{end}}
      </Character>
    {{end}}
  {{end}}
</Characters>
```

[OOC: Do not recite the information in the rag.xml block, use it to enrich your understanding of the world and the individual character(s)]
