{{- /*gotype: juraji.nl/chat-quest/processing.MemoryInstructionVars*/ -}}
```rag.xml
<Characters>
  {{if .Participants}}
    {{range $c := .Participants}}
      <Character>
        <Id>{{$c.ID}}</Id>
        <Name>{{$c.Name}}</Name>
      </Character>
    {{end}}
  {{end}}
</Characters>
```

(Do not recite the information in the rag.xml block, use it to enrich your understanding of the world and the individual character(s))
