{{- /*gotype: juraji.nl/chat-quest/processing.memoryInstructionVars*/ -}}
[OOC: This is not part of the conversation. Please generate character memories based on the previous messages in the format specified by the system prompt.]
