{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
{{if .MessageText}}
{{.MessageText}}

[OOC: Respond ONLY as {{.Character.Name}}]
{{else}}
[OOC: Respond ONLY as {{.Character.Name}} to the previous message]
{{end}}
