{{- /*gotype: juraji.nl/chat-quest/processing.responseInstructionVars */ -}}
{{if .Message}}
{{.Message}}

[OOC: Respond as {{.Character.Name}}]
{{else}}
[OOC: Respond as {{.Character.Name}} to the previous message]
{{end}}
