{{- /*gotype: juraji.nl/chat-quest/processing.memoryInstructionVars*/ -}}
```rag.xml
<Characters>
  {{if .Participants}}
    {{range $c := .Participants}}
      <Character>
        <Id>{{$c.ID}}</Id>
        <Name>{{$c.Name}}</Name>
      </Character>
    {{end}}
  {{end}}
</Characters>
```

[OOC: Do not recite the information in the rag.xml block, use it identify individual character(s)]
