{{- /*gotype: juraji.nl/chat-quest/processing.MemoryInstructionVars*/ -}}
{{if .CurrentTimeOfDay}}[OOC: The current time of day is {{.CurrentTimeOfDayFmtEN}}.]{{end -}}
[OOC: This is not part of the conversation. Break from character and generate per character memories based on the previous messages as mandated by the system, based on previous messages.]
