{{- /*gotype: juraji.nl/chat-quest/processing.MemoryInstructionVars*/ -}}
{{if .CurrentTimeOfDay}}[OOC: The current time of day is {{.CurrentTimeOfDayFmtEN}}.]{{end -}}
[OOC: This is not part of the conversation. This is an intermediate task separate of the current conversation! Please generate per character memories based on the previous messages as mandated by the system.]
[OOC: This is not part of the conversation. Break from character and generate per character memories based on the previous messages as mandated by the system, based on previous messages.]
