{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
```rag.xml
{{if .World}}
<WorldDescription>
  {{.World}}
</WorldDescription>
{{end}}
{{if .Scenario}}
<Scenario>
  {{.Scenario}}
</Scenario>
{{end}}
<Characters>
  {{with .Character}}
    <Character>
    <!-- This is a participant in the chat, but you should not impersonate this character. -->
      <Id>{{.ID}}</Id>
      <Name>{{.Name}}</Name>
      {{if .Appearance}}
      <Appearance>
        {{.Appearance}}
      </Appearance>
      {{end}}
      {{if .Personality}}
        <Personality>
          {{.Personality}}
        </Personality>
        {{end}}
    </Character>
  {{end}}
  {{if .OtherParticipants}}
    {{range $c := .OtherParticipants}}
      <Character>
        <!-- This is a participant in the chat, but you should not impersonate this character. -->
        <Id>{{$c.ID}}</Id>
        <Name>{{$c.Name}}</Name>
        {{if $c.Appearance}}
        <Appearance>
          {{$c.Appearance}}
        </Appearance>
        {{end}}
        {{if $c.Personality}}
        <Personality>
          {{$c.Personality}}
        </Personality>
        {{end}}
      </Character>
    {{end}}
  {{end}}
</Characters>
{{if .Persona}}
  <UserPersona>
    <!-- This information describes the user, it is not a character in the chat -->
    <Name>{{.Persona.Name}}</Name>
    {{if .Persona.Appearance}}
    <Appearance>
      {{.Persona.Appearance}}
    </Appearance>
    {{end}}
    {{if .Persona.Personality}}
    <Personality>
      {{.Persona.Personality}}
    </Personality>
    {{end}}
    {{if .Persona.History}}
    <History>
      {{.Persona.History}}
    </History>
    {{end}}
  </UserPersona>
{{end}}
```

(Do not recite the information in the rag.xml block, use it to enrich your understanding of the world and the individual character(s))
