{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
{{.MessageText}}

{{if .CurrentTimeOfDay}}[OOC: The current time of day is {{.CurrentTimeOfDay | fmtEnum}}.]{{end -}}
{{if .IsFirstMessage -}}
[OOC: Respond as a random NPC]
{{else -}}
[OOC: Respond ONLY as the NPC(s) currently being addressed by the user]
{{end -}}
