{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
{{if .MessageText}}
{{.MessageText}}
{{end}}

{{if .IsFirstMessage}}
[OOC: Respond as a random NPC]
{{else}}
[OOC: Respond ONLY as the NPC(s) currently being addressed by the user]
{{end}}
