{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
{{.MessageText}}

{{if .CurrentTimeOfDay}}(The current time of day is {{.CurrentTimeOfDayFmtEN}}.){{end -}}
{{if .IsFirstMessage -}}
(Respond as an NPC, not as any of the characters)
{{else -}}
(Respond ONLY as the NPC currently being addressed by the user, not as any of the characters)
{{end -}}
