{{- /*gotype: juraji.nl/chat-quest/processing.ChatInstructionVars*/ -}}
[OOC: This is not part of the conversation. Break from character and generate a short and fitting title for this chat, based on previous messages.]
