<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center">
      <h5 class="mb-0">Instruction Templates</h5>
      <button class="btn btn-outline-primary"
              routerLink="/settings/instruction-templates/new">Add template
      </button>
    </div>

    <table class="table">
      <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        @if (templates() | empty) {
          <tr>
            <td colspan="2">No instruction templates defined.</td>
          </tr>
        }
        @for (profile of templates(); track profile.id) {
          <tr class="cursor-pointer" [routerLink]="['/settings/instruction-templates', profile.id]">
            <td><span class="bi bi-terminal"></span>&nbsp;{{ profile.name }}</td>
            <td class="text-muted">{{ profile.type }}</td>
            <td>
              <div class="btn-toolbar justify-content-end">
                <button class="btn btn-sm btn-primary">
                  <span class="bi bi-pencil"></span>
                </button>
              </div>
            </td>
          </tr>
        }
      <tr></tr>
      </tbody>
    </table>
  </div>
</div>
