@if (editMode()) {
  <form [formGroup]="formGroup" (submit)="onFormSubmit()">
    <div class="card">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h5 class="card-title mb-0 text-truncate">{{ model().modelId }}</h5>

          <div class="btn-group btn-group-sm">
            <button class="btn btn-sm btn-primary btn-magical"
                    [disabled]="formGroup.invalid || formGroup.pristine">
              <span class="bi bi-save"></span>
            </button>
            <button type="button" class="btn btn-sm" (click)="editMode.toggle()">
              <span class="bi bi-x"></span>
            </button>
          </div>
        </div>

        <div class="grid">
          <div class="g-col-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="disabledInput"
                     formControlName="disabled"/>
              <label class="form-check-label" for="disabledInput"
                     title="Hide this model from selection.">
                <span>Disabled/hidden</span>
                <span class="bi bi-question-circle ms-1 form-text"></span>
              </label>
            </div>
          </div>
          <div class="g-col-12 g-col-xl-6">
            <label for="temperatureInput">Temperature</label>
            <input type="number" class="form-control"
                   step="0.01"
                   id="temperatureInput"
                   aria-describedby="temperatureInputHelp"
                   formControlName="temperature"/>
            <div id="temperatureInputHelp" class="form-text"
                 title="Lower numbers (< 1.0) will follow instructions more closely, but be less creative;
Higher numbers (> 1.0) will increase creativity but decrease accuracy.">
              <span>Creativity &amp; accuracy</span>
              <span class="bi bi-question-circle ms-1"></span>
            </div>
          </div>
          <div class="g-col-12 g-col-xl-6">
            <label for="maxTokensInput">Max tokens</label>
            <input type="number" class="form-control"
                   step="0.01"
                   id="maxTokensInput"
                   aria-describedby="maxTokensInputHelp"
                   formControlName="maxTokens"/>
            <div id="maxTokensInputHelp" class="form-text"
                 title="Bigger numbers allow for bigger responses. A token is roughly 1.25 words;
Depending on your preferences ~300 seems a good number for natural back-and-forth conversations.
Increase this number to allow for larger responses.">
              <span>Response length</span>
              <span class="bi bi-question-circle ms-1"></span>
            </div>
          </div>
          <div class="g-col-12 g-col-xl-6">
            <label for="topPInput">Top P</label>
            <input type="number" class="form-control"
                   step="0.01"
                   id="topPInput"
                   aria-describedby="topPInputHelp"
                   formControlName="topP"/>
            <div id="topPInputHelp" class="form-text"
                 title="Helps the AI choose from a range of possible responses by considering only the most probable options that add up to a probability of 'P', making the output more diverse yet coherent.">
              <span>Diversity</span>
              <span class="bi bi-question-circle ms-1"></span>
            </div>
          </div>
          <div class="g-col-12 g-col-xl-6 d-flex flex-row align-items-center">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="streamInput"
                     formControlName="stream"/>
              <label class="form-check-label" for="streamInput"
                     title="Enable streaming responses; Instead of generating the response and displaying it, the response will appear in chunks, like you see on popular chat platforms.">
                <span>Stream</span>
                <span class="bi bi-question-circle ms-1 form-text"></span>
              </label>
            </div>
          </div>
          <div class="g-col-12">
            <label for="stopTokensInput">Stop sequences</label>
            <input type="number" class="form-control"
                   step="0.01"
                   id="stopTokensInput"
                   aria-describedby="stopTokensInputHelp"
                   formControlName="stopSequences"/>
            <div id="stopTokensInputHelp" class="form-text"
                 title="Words or phrases (comma-separated) that make the AI stop responding.
Example: '###,word' stops at '###' and 'word'.">
              <span>Halts generation when encountered</span>
              <span class="bi bi-question-circle ms-1"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
} @else {
  <div class="card" [class.model-disabled]="modelDisabled()">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center mb-2">
        <h5 class="card-title mb-0 text-truncate">{{ model().modelId }}</h5>

        <button type="button" class="btn btn-sm" (click)="editMode.toggle()">
          <span class="bi bi-pencil"></span>
        </button>
      </div>

      <div>
        @if (modelDisabled()) {
          <small class="text-warning">Disabled</small>
        } @else {
          @let m = model();
          <span><span class="text-muted small">Temp:</span>&nbsp;<span>{{ m.temperature }}, </span></span>
          <span><span class="text-muted small">Top P:</span>&nbsp;<span>{{ m.topP }}, </span></span>
          <span><span class="text-muted small">Max tokens:</span>&nbsp;<span>{{ m.maxTokens }}, </span></span>
          <span><span class="text-muted small">Stream:</span>&nbsp;<span>{{ m.stream ? 'yes' : 'no' }}</span></span>
        }
      </div>
    </div>
  </div>
}



