<div class="dropdown">
  <button class="btn btn-outline-secondary" (click)="showDropDown.toggle()">Import Character</button>
  <ul class="dropdown-menu mt-1" [class.show]="showDropDown()" (click)="showDropDown.toggle()">
    <li>
      <button class="dropdown-item" (click)="chatQuestImportInput.click()">
        From ChatQuest
      </button>
    </li>
    <li>
      <button class="dropdown-item" (click)="charaCardImportInput.click()">
        From Character Card
      </button>
    </li>
  </ul>
</div>

<input type="file" class="d-none"
       [accept]="acceptCharaCardTypes"
       (change)="onImportFileSelected($event, 'CharaCard')"
       #charaCardImportInput/>
<input type="file" class="d-none"
       accept="application/json"
       (change)="onImportFileSelected($event, 'ChatQuest')"
       #chatQuestImportInput/>
